.contanier {
  width: 1300px;
  max-width: 100%;
  margin: 0px auto;
  padding: 0px 15px;
}
.Eight {
    display: flex;
    justify-content: center;
    /* padding: 20px; */
  }
  
  .main-Eight {
    width: 1300px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
  }
  
  .eight-first {
    width: 100%;
    text-align: center;
  }
  
  .eight-first h1 {
    color: white;
    font-size: 80px;
    letter-spacing: 2px;
    /* line-height: 1.2; */
  }
  
  .cardgroup {
    display: flex;
    justify-content: center;
    gap: 53px;
    width: 100%;
  }
  

  .card {
    background-color: #54725d;
    width: 22%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card .img {
    width: 35px;
    height: 35px;
    background-color: rgb(161, 218, 18);
    border-radius: 50%;
    margin-bottom: 50px;
  }
  
  .card .img img {
    width: 20px;
    height: 20px;
    margin: 20% 0 0 0; 
  }
  
  .card p {
    color: white;
    width: 80%;
    font-size: 20px;
    font-family: 'Uncut Sans';
    /* margin: 0 auto; */
  }
  
  /* Responsivee */
 
  @media (max-width: 1024px) {
    .eight-first h1 {
      font-size: 60px;
    }
  
    .cardgroup {
      gap: 38px;
    }
  
    
  
    .card p {
      font-size: 14px;
    }
  }
  

  @media (max-width: 768px) {
   
  
    .eight-first h1 {
      font-size: 45px;
    }
  
    .cardgroup {
      width: 100%;
      gap: 30px;
      display: flex;
      flex-wrap: wrap;
    }
  
    .card {
      width: 40%;
    }
  }
  

  @media (max-width: 480px) {
    .eight-first {
      padding: 0px 20px;
    }
  
    .eight-first h1 {
      font-size: 35px;
    }
  
    .cardgroup {
      gap: 10px;
      justify-content: center;
    }
  
  
    .card p {
      font-size: 12px;
    }

  }
  @media (max-width: 320px) {
    .eight-first {
      padding: 0px 30px;
    }
  
    .eight-first h1 {
      font-size: 28px;
    }
    .card p {
      font-size: 10px;
    }
    .card{
      width: 90%;
    }

  }