.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.main-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
}

.top-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}

.main-handing h1 {
    letter-spacing: 2px;
    font-size: 80px;
    font-weight: 800;
    color: #ffffff;
}

.image-container img {
    height: 70px;
    width: 70px;
}

.second-handing p {
    font-size: 18px;
    font-family: 'Uncut Sans';
    font-weight: 500;
    color: white;
    text-align: center;
}

.top-box button {
    background-color: #0766FF;
    color: white;
    cursor: pointer;
    width: 260px;
    height: 45px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 50px;
}

.bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #035B67;
    padding: 30px;
    border-radius: 30px;
    flex-direction: column;
}

.image {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.image img {
    width: 100%;
    border-radius: 20px;
}

.img-handing h1 {
    font-size: 20px;
    font-family: 'Uncut Sans';
    font-weight: 500;
    color: white;
    text-align: center;
}

.img-handing p {
    font-size: 15px;
    font-family: 'Uncut Sans';
    font-weight: 400;
    color: white;
    text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 991px) {
    .main-handing h1 {
        font-size: 60px;
    }

    .image-container img {
        height: 60px;
        width: 60px;
    }

    .second-handing p {
        font-size: 16px;
    }

    .image {
        max-width: 500px;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        margin-top: 30px;
    }

    .main-hero {
        gap: 30px;
    }

    .main-handing h1 {
        font-size: 50px;
    }

    .image-container img {
        height: 50px;
        width: 50px;
        margin-left: 5px;
    }

    .second-handing p {
        font-size: 14px;
    }

    .top-box button {
        width: 200px;
        height: 40px;
    }

    .bg {
        padding: 20px;
    }

    .image {
        max-width: 100%;
    }

    .img-handing h1 {
        font-size: 18px;
    }

    .img-handing p {
        font-size: 14px;
    }
}


@media screen and (max-width: 530px) {
    .main-handing h1 {
        font-size: 40px !important;
    }

    .image-container img {
        height: 40px;
        width: 40px;
    }
}