.thrad {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    /* margin-top: 50px;
    gap: 50px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
} */
}

.main-thrad {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    background-color: #54725D;
    padding: 30px 35px;
    border-radius: 30px;
    width: 85%;
}

.haanding {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.main-thrad .haanding h2 {
    font-size: 70px;
    font-weight: 900;
    color: #091c18;
    width: 89%;
}

.main-thrad .haanding p {
    font-family: 'Uncut Sans';
    width: 90%;
    font-size: 16px;
    color: #091c18;
    font-weight: 600;
    /* color: black; */
}
.main-thrad .haanding button{
    width: 30%;
    background-color: #091c18;
    border-radius: 50px;
    padding: 13px 1px;
}

.imagee {
    width: 50%;
}

.imagee img {
    width: 100%;
}

@media screen and (max-width: 991px) {
    .main-thrad {
        gap: 30px;
    }

    .haanding h1 {
        font-size: 50px;

    }

    .haanding p {
        font-size: 18px;

    }

    .imagee {
        max-width: 600px;

    }
}

@media screen and (max-width: 768px) {
    .thrad {
        margin-top: 50px;

    }

    .main-thrad {
        gap: 20px;
        flex-direction: column;

        text-align: center;

    }

    .haanding h1 {
        font-size: 45px;

    }

    .haanding p {
        font-size: 16px;

    }

    .imagee {
        max-width: 100%;

    }
}