.contanier {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}
.business-helped{
    display: flex;
    justify-content: center;
    /* padding: 20px; */
  }
  
  .business-helped-main {
    width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
  }
  
  
  
  .business-helped-main-first h1 {
    color: white;
    font-size: 80px;
    letter-spacing: 2px;
    /* line-height: 1.2; */
  }
  
  .business-helped-main-cardgroup {
    display: flex;
    justify-content: center;
    gap: 53px;
    width: 100%;
  }
  
  .business-helped-main-card {
    background-color: black;
    width: 22%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: opacity 0.3s ease;
    padding-bottom: 10px;
  }
  
  .business-helped-main-card:hover {
    opacity: 0.7;
  }
  
  .business-helped-main-card .img {
    padding: 10px 10px;
  }
  
  .business-helped-main-card .img img {
    width: 100%;
    opacity: 0.7;
    border-radius: 20px;
  }
  
  .business-helped-main-card span {
    color: #21E7A6;
    font-family: 'Uncut Sans';
    font-size: 14px;
    padding: 5px 10px;
  }
  
  #more:hover {
    text-decoration: underline;
    opacity: 1;
  }
  
  .business-helped-main-card h3 {
    font-size: 20px;
    padding: 5px 10px;
    color: white;
    font-weight: 600;
    font-family: 'Uncut Sans';
  }
  
  .business-helped-main-card p {
    color: white;
    padding: 5px 10px;
    /* padding-bottom: 5px; */
    font-weight: lighter;
    font-family: 'Uncut Sans';
    font-size: 14px;
  }
  
  .sec-cardgroup {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
  }
  
  .sec-card {
    background-color: black;
    width: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .sec-card:hover {
    opacity: 0.8;
  }
  
  .sec-card .img {
    padding: 10px 20px;
  }
  
  .sec-card .img img {
    width: 100%;
    border-radius: 20px;
  }
  
  .sec-card span {
    color: #21E7A6;
    font-family: 'Uncut Sans';
    font-size: 20px;
    padding: 5px 20px;
  }
  
  .sec-card p {
    color: white;
    /* font-weight: lighter; */
    font-family: 'Uncut Sans';
    font-weight: normal;
    font-size: 20px;
    padding: 5px 20px;
  }
  

  
  @media (max-width: 1024px) {
    .business-helped-main-first h1 {
      font-size: 60px;
    }
  
  
  
    .business-helped-main-cardgroup {
      gap: 38px;
    }
  
    .sec-cardgroup {
      gap: 15px;
    }
  }
  
  @media (max-width: 768px) {
    .business-helped-main-first h1 {
      text-align: center;
      font-size: 45px;
    }
  .business-helped-main-cardgroup{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
    .business-helped-main-card {
      width: 40%;
    }
  .sec-cardgroup{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
    .sec-card {
      width: 90%
    }
  
    .Nine-cardgroup {
      gap: 30px;
      /* flex-direction: column; */
    }
  
    .sec-cardgroup {
      gap: 30px;
      /* flex-direction: column; */
    }
  
    .business-helped-main-first {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .business-helped-main-first h1 {
      font-size: 35px;
      text-align: center;
    }
  
    .business-helped-main-card span {
      font-size: 12px;
    }
  
    .business-helped-main-card h3 {
      font-size: 18px;
    }
  
    .business-helped-main-card p {
      font-size: 12px;
    }
  
    .sec-card span {
      font-size: 16px;
    }
  
    .sec-card p {
      font-size: 18px;
    }
  
  }
  
  @media (max-width: 320px) {
    .business-helped-main-first h1 {
      font-size: 28px;
    }

    .business-helped-main-card h3 {
      font-size: 16px;
    }
  
    .business-helped-main-card p {
      font-size: 10px;
    }
    .business-helped-main-card {
      width: 90%;
      
    }
    .sec-card span {
      font-size: 14px;
    }
  
    .sec-card p {
      font-size: 16px;
    }
   
  }
  