.a-eight{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
}
.a-main-eight{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: #035B67;
    border-radius: 30px;
    padding: 50px 225px;

}
.a-eight-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px; 
}
.a-eight-item h1{
    font-size: 80px;
    transform: scale(1.4, 1.3);
     font-weight: 800;
     color: #ffff; 
}
.a-eight-item p{
    font-size: 21px;
    font-family: 'Uncut Sans';
    font-weight: normal;
    color: white;
    width: 800px;
}
.a-eight-item button{
    background-color:#0766FF;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
    padding: 8px 8px; 
}