@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins&display=swap');
.a-fourth{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-family:  "Bebas Neue", sans-serif;
}
.a-main-fourth{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #47663B;
    padding: 50px 40px;
    border-radius: 30px;
    gap: 40px;
}
.a-first-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.a-first-part h3{
    font-size: 45px;
    font-family: 'Uncut Sans';
    font-weight: 500;
    color: white;
    font-family:"Bebas Neue", sans-serif;
}
.a-first-part p{
    font-size: 18px;
    font-family: 'Uncut Sans';
    font-weight: normal;
    width: 500px;
    color: white;
}

.a-second-part{
    width: 640px;
}
.a-second-part img{
    width: 100%;
    height: 100vh;
    border-radius: 30px;
    /* border-top-left-radius:30px ;
    border-radius: 20px; */
}
/* @media (max-width:1034px){
    .a-main-fourth{
        width: 100%;
    }
}
@media(max-width:839px){
    .a-main-fourth{
        width: 80%;
    }
    .a-second-part img{
        display: none;
    }
}
@media(max-width:710px){
    .a-first-part p{
        width: 100%;
    }
} */

@media (max-width:1034px){
    .a-main-fourth{
        width: 100%;
    }
}
@media(max-width:839px){
    .a-main-fourth{
        width: 80%;
        display: flex;
        flex-direction: column-reverse;

    }
    .a-second-part{
        width: 99%;
    }
}
@media(max-width:710px){
    .a-first-part p{
        width: 100%;
    }
}
