.a-fourth {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.a-main-fourth {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #47663B;
    padding: 50px 40px;
    border-radius: 30px;
    gap: 40px;
    width: 95%;
    max-width: 1200px;
    flex-wrap: wrap; 
}

.a-first-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: 1;
}

.a-first-part h3 {
    font-size: 65px;
    font-weight: 900;
    /* line-height: 83%; */
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    color: white;
}

.a-first-part p {
    font-size: 20px;
    font-family: 'Uncut Sans';
    font-weight: normal;
    letter-spacing: 0.4px;
    color: white;
    width: 500px; 
}

.a-second-part {
    flex: 1; 
    max-width: 640px; 
}

.a-second-part img {
    width: 100%; 
    height: auto; 
    border-radius: 30px;
    object-fit: cover; 
    max-height: 80vh; 
}

/* Responsive Adjustments */
@media (max-width: 1034px) {
    .a-main-fourth {
        width: 95%;
    }

    .a-first-part p {
        width: 100%; 
    }
}

@media (max-width: 839px) {
    .a-main-fourth {
        flex-direction: column-reverse; 
        gap: 20px;
    }

    .a-second-part {
        max-width: 100%;
    }

    .a-first-part h3 {
        font-size: 50px; 
    }

    .a-first-part p {
        font-size: 16px; 
        text-align: justify; 
    }
}

@media (max-width: 768px) {
    .a-main-fourth {
        padding: 30px 20px; 
    }

    .a-second-part img {
        max-height: 60vh; 
    }

    .a-first-part h3 {
        font-size: 45px; 
    }

    .a-first-part p {
        text-align: justify;
        width: 100%;
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .a-main-fourth {
        gap: 10px; 
    }

    .a-second-part img {
        max-height: 50vh; 
    }

    .a-first-part h3 {
        font-size: 35px; 
    }

    .a-first-part p {
        font-size: 14px;
    }
}
