.a-handing{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    
}
.a-main-handing{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #54725D;
    padding: 30px 155px;
    border-radius: 30px;
}
.a-top-handing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.a-top-handing h1{
    font-size: 80px;
    font-family: 'Uncut Sans';
    font-weight: 300;
    color: white;
    letter-spacing: 3px;
}