.a-seven{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-family: "Bebas Neue", sans-serif;
}
.a-main-seven{
    display: flex;
    align-items: center;
    justify-content: center;
}
.a-seven-left{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #47663B;
    padding: 50px 30px;
    border-radius: 30px;
    gap: 70px;
}
.a-seven-main-handing{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.a-seven-main-handing h2{
    font-size: 80px;
    font-weight: 800;
    color: white;
    font-family:"zuume";
}
.a-seven-main-peragraph{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.a-seven-main-peragraph h3{
    font-size: 23px;
    font-family: 'Uncut Sans';
    font-weight: 300;
    color: white;
}
.a-seven-main-peragraph p{
    font-size: 18px;
    font-family: 'Uncut Sans';
    font-weight: normal;
    width: 500px;
    color: white;
}
.a-seven-image{
 width: 640px;
}
.a-seven-image img{
    width: 100%;
    height: 100vh;
    border-radius: 30px;
}

@media (max-width:1034px){
    .a-main-seven{
        width: 100%;
    }
    .a-seven-image{
        width: 100%;
    }
}
@media(max-width:839px){
    .a-seven-left{
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
    }
}
@media(max-width:710px){
    .a-seven-main-peragraph p{
        width: 100%;
    }
}
@media  screen and (min-width:120px) and (max-width:768px){
    .a-seven-image img{
        height: auto;
    }
}