.a-seven {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* padding: 0 15px; */
}

.a-main-seven {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
}

.a-seven-left {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #47663B;
    padding: 50px 40px;
    border-radius: 30px;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap; 
}

.a-seven-main-handing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    flex: 1; 
}

.a-seven-main-handing h2 {
    font-size: 65px;
    font-weight: 900;
    letter-spacing: 2px;
    color: white;
    /* text-align: left;  */
}

.a-seven-main-peragraph {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-family: 'Uncut Sans';
    letter-spacing: 0.4px;
    max-width: 500px; 
    color: white;
    text-align: left; 
}

.a-seven-main-peragraph h3 {
    font-size: 30px;
    font-family: 'Uncut Sans';
    font-weight: 300;
    color: white;
    /* line-height: 1.5; */
}

.a-seven-image {
    flex: 1; 
    max-width: 640px; 
}

.a-seven-image img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    object-fit: cover; 
    max-height: 80vh; 
}

/* Responsive Adjustments */
@media (max-width: 1034px) {
    .a-main-seven {
        gap: 30px; 
    }

    .a-seven-main-handing h2 {
        font-size: 50px; 
    }
}

@media (max-width: 839px) {
    .a-seven-left {
        flex-direction: column-reverse; 
        padding: 30px;
        gap: 20px;
    }

    .a-seven-main-handing h2 {
        font-size: 45px;
        text-align: left; 
    }

    .a-seven-main-peragraph {
        max-width: 100%;
        text-align: justify
        ; 
    }

    .a-seven-image {
        max-width: 100%; 
    }
}

@media (max-width: 768px) {
    .a-seven-left {
        padding: 20px;
    }

    .a-seven-main-handing h2 {
        font-size: 40px;
    }

    .a-seven-main-peragraph h3 {
        font-size: 20px;
        text-align: left;
    }

    .a-seven-main-peragraph {
        font-size: 16px;
        line-height: 1.4;
    }

    .a-seven-image img {
        max-height: 60vh; 
    }
}

@media (max-width: 480px) {
    .a-seven-main-handing h2 {
        font-size: 35px; 
    }

    .a-seven-main-peragraph {
        font-size: 14px;
    }

    .a-seven-image img {
        max-height: 50vh;
    }
}
