.a-sixth {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* padding: 0 15px; */
}

.a-main-sixth {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 40px;
    border-radius: 30px;
    gap: 40px;
    width: 95%;
    max-width: 1200px;
    /* background-color: #47663B; */
    flex-wrap: wrap;
}

.a-first-sixth-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: 1;
    max-width: 600px;
}

.a-first-sxith-handing h2 {
    font-size: 65px;
    font-weight: 900;
    color: white;
    letter-spacing: 2px;
    /* text-align: left; */
}

.a-first-sixth-paragraph {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.a-first-sixth-paragraph h3 {
    font-size: 30px;
    font-family: 'Uncut Sans';
    font-weight: 300;
    color: white;
}

.a-first-sixth-paragraph p {
    font-size: 20px;
    font-family: 'Uncut Sans';
    font-weight: normal;
    color: white;
    letter-spacing: 0.4px;
    max-width: 500px; 
    /* text-align: left;  */
}

.a-second-sixth-part {
    flex: 1; 
    max-width: 640px; 
}

.a-second-sixth-part img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    object-fit: cover; 
    max-height: 80vh; 
}

/* Responsive Adjustments */
@media (max-width: 1034px) {
    .a-main-sixth {
        gap: 30px; 
    }
}

@media (max-width: 839px) {
    .a-main-sixth {
        flex-direction: column;
        gap: 20px;
    }

    .a-second-sixth-part {
        max-width: 100%; 
    }

    .a-first-sxith-handing h2 {
        font-size: 50px;
        text-align: center;
    }

    .a-first-sixth-paragraph h3 {
        font-size: 24px; 
    }

    .a-first-sixth-paragraph p {
        font-size: 16px;
        text-align: justify; 
    }
}

@media (max-width: 768px) {
    .a-main-sixth {
        padding: 30px 20px; 
    }

    .a-second-sixth-part img {
        max-height: 60vh;
    }

    .a-first-sxith-handing h2 {
        font-size: 40px; 
        text-align: left;
    }

    .a-first-sixth-paragraph p {
        font-size: 15px; 
        text-align: justify; 
    }
}

@media (max-width: 480px) {
    .a-main-sixth {
        gap: 10px; 
    }

    .a-second-sixth-part img {
        max-height: 50vh; 
    }

    .a-first-sxith-handing h2 {
        font-size: 35px; 
    }

    .a-first-sixth-paragraph p {
        font-size: 14px; 
    }
}
