.a-sixth {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.a-main-sixth {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 40px;
    background-color: #47663B;

    border-radius: 30px;
    gap: 40px;
    width: 95%;
    max-width: 1300px;
    flex-wrap: wrap; 
}

.a-first-sixth-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    flex: 1;
    max-width: 600px;
}
.a-first-sixth-part h2 {
    font-size: 65px;
    font-weight: 900;
    letter-spacing: 2px;
    color: white;
}

.a-first-sixth-part h3 {
    font-size: 35px;
    font-family: 'Uncut Sans';
    font-weight: 600;
    color: white;
}

.a-first-sixth-part p {
    font-size: 20px;
    font-family: 'Uncut Sans';
    font-weight: normal;
    margin: 15px 0;
    letter-spacing: 0.4px;
    color: white;
    max-width: 500px; 
}

.a-second-sixth-part {
    flex: 1; 
    width: 50%;
}

.a-second-sixth-part img {
    width: 100%; 
    /* height: 600px; */
    border-radius: 30px; 
    object-fit: cover;
    /* height: 600px; */
}

/* Responsive Adjustments */

@media (min-width: 320px) and (max-width: 768px) {
    .a-main-sixth {
        flex-direction: column;
        padding: 30px 20px; 
    }
    .a-first-sixth-part {
        width: 100%;
    }
    .a-first-sixth-part h2 {
        font-size: 35px;
    }
    .a-second-sixth-part {
        width: 100%;
    }

    .a-first-sixth-part h3 {
        font-size: 25px;
        font-family: 'Uncut Sans';
        font-weight: 100;
        color: white;
    }
    .a-second-sixth-part img {
        /* height: 280px;  */
    }

    .a-first-sixth-part p {
        /* text-align: justify; */
        width: 100%;
        font-size: 16px;
    }
}

@media (max-width: 839px) {
    .a-main-sixth {
        flex-direction: column; 
        gap: 20px;
    }
    .a-first-sixth-part {
        width: 100%;
    }
    .a-second-sixth-part {
        width: 100%;
    }
    .a-second-sixth-part img {
        /* height: 400px;  */
    }

    .a-first-sixth-part h3 {
        font-size: 25px;
        font-family: 'Uncut Sans';
        font-weight: 300;
        color: white;
    }

    .a-first-sixth-part p {
        /* text-align: justify; */
        width: 100%;
        font-size: 16px;
    }
}

@media (min-width: 840px) and (max-width: 1040px) {
    .a-main-sixth {
        width: 95%;
    }
    .a-first-sixth-part {
        width: 50%;
    }
    .a-second-sixth-part {
        width: 50%;
    }
    .a-first-sixth-part p {
        width: 100%;
    }
    .a-second-sixth-part img {
        /* height: 600px; */
    }
}
