@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins&display=swap');
.a-sixth{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-family: "Bebas Neue", sans-serif;

}
.a-main-sixth{
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.a-sixth-first{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #54725D; */
    padding: 50px 30px;
    border-radius: 30px;
    gap: 30px;
}
.a-sixth-image{
    width: 680px;
}
.a-sixth-image img{
    width: 100%;
}
.a-sixth-main-handing{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.a-sixth-main-handing h2{
    font-size: 50px;
    font-weight: 600;
    color: white;
}
.a-sixth-main-peragraph{
    display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.a-sixth-main-peragraph h3{
    font-size: 23px;
    font-family: 'Uncut Sans';
    font-weight: 300;
    color: white;@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins&display=swap');
    .a-sixth{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        font-family: "Bebas Neue", sans-serif;
    
    }
    .a-main-sixth{
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
    .a-sixth-first{
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: #54725D; */
        padding: 50px 30px;
        border-radius: 30px;
        gap: 30px;
    }
    .a-sixth-image{
        width: 680px;
    }
    .a-sixth-image img{
        width: 100%;
        height: 100vh;
        border-radius: 30px;
    }
    .a-sixth-main-handing{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }
    .a-sixth-main-handing h2{
        font-size: 50px;
        font-weight: 600;
        color: white;
    }
    .a-sixth-main-peragraph{
        display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
    }
    .a-sixth-main-peragraph h3{
        font-size: 23px;
        font-family: 'Uncut Sans';
        font-weight: 300;
        color: white;
    }
    .a-sixth-main-peragraph p{
        font-size: 18px;
        font-family: 'Uncut Sans';
        font-weight: normal;
        width: 500px;
        color: white;
    }
    
    @media (max-width:1034px){
        .a-sixth-first{
            width: 100%;
        }
        .a-sixth-image {
            width: 100%;
        }
        
    }
    @media(max-width:839px){
        .a-sixth-first{
            width: 80%;
            display: flex;
            flex-direction: column;
    
        }
        .a-sixth-image{
            width: 99%;
        }
    }
    @media(max-width:710px){
        .a-sixth-main-peragraph p{
            width: 100%;
        }
    }
}
.a-sixth-main-peragraph p{
    font-size: 18px;
    font-family: 'Uncut Sans';
    font-weight: normal;
    width: 500px;
    color: white;
}