/* Main container */
.main-eight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    /* background-color: #54725D; */
    margin-top: 30px;
    border-radius: 40px;
}

/* Inner container */
.eight {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    height: auto;
    gap: 100px;
}
.eight :hover{
    background-color: #54725D;
    border-radius: 20px;
}

/* Individual column */
.eight div {
    flex: 1;
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: left;
}

.eight h5 {
    margin-bottom: 15px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    letter-spacing: 2px;

}

.eight p {
    line-height: 1.5;
    color: #333;
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Uncut Sans';

}

/* Responsive */
@media  screen and (min-width:768px) and (max-width:991px){
    .main-eight{
        background: none;
    }
    
}
@media (max-width: 768px) {
    .main-eight{
        background: none;
    }
    .eight {
        flex-direction: column;
        align-items: center;
    }

    .eight div {
        margin-bottom: 20px;
    }
}