.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  box-sizing: border-box;
}

.line {
  width: 100%;
  max-width: 1250px;
  height: 1px;
  background-color: white;
  margin: 10px 0;
}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 10px;
  padding: 5px 10px;
  width: 100%;
  max-width: 1250px;
  box-sizing: border-box;
}

.nav-first-item {
  flex: 1;
  min-width: 150px;
  max-width: 250px;
}

.nav-first-item p {
  font-size: 18px;
  color: white;
  font-family: 'Uncut Sans';
  font-weight: 300;
  margin-bottom: 15px;
}

.nav-first-item a {
  display: block;
  color: white;
  font-family: 'Uncut Sans';
  font-weight: normal;
  margin-top: 10px;
  text-decoration: none;
}

.footer-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 1250px;
  margin-top: 30px;
  box-sizing: border-box;
}

.footer-second .logo {
  flex: 1;
  max-width: 200px;
  display: flex;
  justify-content: center;
}

.footer-second .logo img {
  width: 100%;
  max-width: 200px;
  margin-left: 27px; 
  filter: invert(10);
}

.footer-second .icons {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: white;
  gap: 20px;
  cursor: pointer;
}

.footer-end {
  margin: 20px 0px;
  width: 100%;
  max-width: 1250px;
  text-align: center;
  padding: 0px 10px ;
}

.footer-end span {
  color: white;
  font-size: 14px;
  font-family: 'Uncut Sans';
  font-weight: normal;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .line {
      width: 90%;
  }
 

  .footer {
      gap: 20px;
      padding-left: 20px;
  }

  .footer-second {
      flex-direction: column;
      gap: 15px;
  }

  .footer-end {
      font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .line {
      width: 80%;
  }
  

  .footer {
      gap: 40px;
      padding-left: 20px;
  }

  .footer-second {
      gap: 30px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .line {
      width: 90%;
  }
  .main-footer {
    padding: 0 15px;
  }
  .footer {
      gap: 60px;
  }

  .footer-second {
      gap: 50px;
  }
}
