.contanier{
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
} 
.main{
  display: flex;
  justify-content: center;
  /* margin-top: 100px; */
  overflow: hidden;
  margin-top: 40px;
}
.hero-sec{
   display: flex;
   justify-content: center;
   width: 1300px;
   gap: 20px;
    border-radius: 40px;
    overflow: hidden;
    padding: 20px 0px 20px 0px;
}
.hero-left-item{
    display: flex;
    flex-direction: column; 
    gap: 30px;
    width: 50%;
    padding: 10px 10px;
}

.hero-left-item .main-heading{
   
  margin: 0;
}
.hero-left-item h1{
  font-size: 80px;
    
     font-weight: 900;
     color: #ffff;    
     text-align: start;
}

.hide{
  display: none;
}
.hero-left-item .h1 {
    color: #e6c20f;
    font-style: normal;
   
    font-weight: 800;

}
.hero-left-item .peragrph{
width: 100%;  

}

.hero-left-item p{
    font-size: 21px;
    font-family: 'Uncut Sans';
    font-weight: 500;
    color: white;

    
}
.hero-left-item  .btn-1 button{
    background-color:#0766FF;
    color: white;
    width: 170px;

    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 900;
    padding: 2px 2px; 
    transform: scale(1, 1.5);
     /* margin-bottom: 50px; */
     cursor: pointer;
 }
 .hero-imgee{
    /* width: 80%; */
    padding: 10px 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .hero-right-item{
   width: 50%;
   position: relative;
   padding: 10px 0px;
 }
 .hero-right-item img{
position:absolute;
/* width: 80%;
margin-left: 20%; */
  border-radius: 30%;
  
 }


  @media  screen and (min-width:120px) and (max-width:767px){
    .hero-sec {
      flex-direction: column;
      display: flex;
      justify-content: center;
    }
  
    .hero-left-item {
      width: 100%;
    }
  
    .hero-left-item h1 {
      font-size: 40px;
    }
  
    .hero-left-item p {
      font-size: 14px;
    }
  
    
    .hero-imgee{
      width: 100%;
    }
    .hero-right-item{
      width: 100%;
    }
    .hero-right-item img {
      width: 80%;
    }
  }

 
 @media  screen and (min-width:768px) and (max-width:992px) {
  .hero-sec{
    gap: 0px;
   
    display: flex;
    justify-content: center;
   
  }
  .hero-left-item{
    display: flex;
    width: 50%;
    padding: 10px;
  }
  .hero-left-item p{
    font-size: 18px;
  }


  .hero-left-item h1{
    font-size: 50px;
    
  }
  
  #h1{
   
    color: #e6c20f;
  }
  

  
   .hero-right-item{
    position: relative;
    width: 50%;
    padding: 10px 10px;
   }
   .hero-right-item img{
    width: 100%;
    position: absolute;
   }
 }
 
 @media  screen and (min-width:992px) and (max-width:1024px) {  
   .hero-sec{
    gap: 0px;
    display: flex;
    justify-content: center;
   
  }
  .hero-left-item{
    display: flex;
    width: 50%;
    padding: 0;
   
   gap: 50px;
  }
  
  .hero-left-item h1{
    font-size: 55px;
    
  }
  #h1{
    margin-top: 40px;
    color: #e6c20f;
  }
  

  .btn-1{
    position: relative;
    
   }
   .hero-right-item{
    position: relative;
    width: 50%;
    padding: 10px 10px;
   }
   .hero-right-item img{
    width: 100%;
    position: absolute;
   }
  
 }

 @media  screen and (min-width:1025px) and (max-width:1300px) {  
  
  .hero-sec{
    gap: 0px;
  
    justify-content: center;
    align-items: center;
    
  }
  p{
    font-size: 20px;
 
  }
 
  .hero-right-item{
    width: 50%;
   
  }
   .hero-right-item img{
    width: 100%; 
    position: absolute;
    border-radius: 30%;
   }
   
}

