.contanier {
    width: 1300px;
    max-width: 100%;
    margin: 0px auto;
}

.feature-three {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* width: 100%; */
    /* padding: 20px 50px; */
    /* margin-top: 1px; */
    margin-top: 40px;
}

.feature-three-main {
    max-width: 1300px;
    width: 100%;
    /* height: 500px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    padding: 20px 30px;
    background-color: #54725D;
    /* z-index: -1; */
    border-radius: 40px;
}

.feature-three-main-imgee {
    width: 65%;
    padding: 10px 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-three-main-left {
    width: 50%;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-three-main-left img {
    width: 100%;
    max-height: 100%;
    /* height: 100%; */
    /* border-radius: 10px; */
    position: absolute;

}

.feature-three-main-right {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px;
}

.feature-three-main-right h1 {
    font-size: 80px;
    /* line-height: 83%; */
    text-transform: uppercase;
    /* margin-bottom: 20px;   */
    font-weight: 900;
    /* transform: scale(1, 1); */
    letter-spacing: 2px;
    /* width: 575px; */
    color: white;
}

.feature-three-main-right p {
    font-size: 20px;
    font-family: 'Uncut Sans';
    font-weight: normal;
    letter-spacing: 0.4px;
    /* margin-left: 10px; */
    color: white;


}

@media screen and (max-width: 992px) {
    .feature-three-main {
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    .feature-three-main-imgee {
        width: 40%;
    }


    .feature-three-main-left {
        width: 100%;
    }

    .feature-three-main-left img {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    .feature-three-main-right {
        width: 100%;
        padding: 0;
        text-align: center;
        padding-bottom: 20px;
    }

    .feature-three-main-right h1 {
        font-size: 40px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .feature-three-main-right p {
        font-size: 16px;
        margin: 0 auto;
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .feature-three-main {
        padding: 10px;
    }

    .feature-three-main-imgee {
        width: 80%;
    }


    .feature-three-main-right h1 {
        font-size: 30px;
    }

    .feature-three-main-right p {
        font-size: 14px;
    }
}