.main-seven{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    padding: 20px 50px;
    margin-top: 10px;
    
}
.seven{
    width: 1150px;
    height: 500px;
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 150px;
   padding: 10px 10px;
   background-color: #54725D;
    border-radius: 40px;
   z-index: -1;  
}
.left-seven-sec-item{
    width:435px;
}
.left-seven-sec-item img{
    width: 100%;
}
.right-seven-sec-item{
 width: 640px; 
 display: flex;
    align-items: center;
    justify-content: center;
     padding: 20px;
    flex-direction: column;
}
.right-seven-sec-item h1{
    font-size: 65px;
    line-height: 83%;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;  
    transform: scale(1, 1);
    letter-spacing: 2px;
    width: 550px;
    color: white;
    
}

.right-seven-sec-item p{
    font-size: 20px;
    width: 560px;
    margin-top: 20px;
    font-family: 'Uncut Sans';
     font-weight: normal;
     letter-spacing: 0.4px;
     color: white;
}

/* responsive */
  @media  screen and (min-width:200px) and (max-width:767px){
    .main-seven{
        margin-top: 65%;
        padding: 0px 0px;
        /* margin-bottom: 20%; */
    }
    .seven{
        display: flex;
        flex-direction: column;
        background: none;
       gap: 0;
       padding: 0px 0px;
    }    
    .left-seven-sec-item{
        /* width: 300px;   */
        display: flex;
        justify-content: center;
     
    }
    .left-seven-sec-item img{
        width: 18rem;
        height: 20rem;
        margin-top: 0%;
        /* border-radius: 30%;  */
         /* margin-left: 20px; */
    } 
    .right-seven-sec-item{
       width: 80%;
        display: flex;
     
    }
    .right-seven-sec-item h1{
        font-size: 40px;
        width: 300px;
    }
    .right-seven-sec-item p{
        font-size: 17px;
        width: 90%;
        margin: 0 auto
        
    }
}
@media  screen and (min-width:768px) and (max-width:991px) {
    .main-seven{
        margin-top: 0%;
        padding: 0px 0px;
    }
    .seven{
        display: flex;
        flex-direction: column;
        background:none;
        height: 80vh;
        gap: 20px;
    }    
    .left-seven-sec-item{
        display: flex;
        justify-content: center;
     
    }
    .left-seven-sec-item img{
        width: 140%;
        height: 50vh;
    } 
    .right-seven-sec-item{
        padding-top: 10%;
        /* margin-top: 10%; */
        display: flex;
        width: 80%;
    }
    .right-seven-sec-item h1{
        font-size: 40px;
        width: 100%;
    }
    .right-seven-sec-item p{
        font-size: 17px;
         width: 100%;
    }
}

@media  screen and (min-width:991px) and (max-width:1024px) { 
    .main-seven{
        padding: 0px 0px;
        margin-top: 5%;
      }
      .seven{
          padding: 0px 0px;
          gap: 0px;
          width: 95%;
           
      }
    .left-seven-sec-item img{

        border-radius: 30%;
    } 
    
}

@media  screen and (min-width:1025px) and (max-width:1200px) {  
    .main-seven{
      padding: 0px 0px;
      margin-top: 5%;
    }
    .seven{
        padding: 10px 0px;
        gap: 0px;
        width: 95%;
         
    }
}  