.co-first{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-top: 130px;
 gap: 100px;
 
}
.co-main-first{
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  gap: 80px;
  background-color: #035B67;
  padding: 50px 220px;
  border-radius: 30px;
}
.co-first-item{
    display: flex;
    align-items: center;
    justify-content: center; 
 
}
.co-first-item h1{
    font-size: 70px;
    transform: scale(1.4, 1.3);
    letter-spacing: 3px;
     font-weight: 800;
     color: white;
     line-height: 60px;
    
}
.co-first-pragraph{
    width: 800px; 
 display: flex;
 flex-direction: column;
 align-items: center;
  gap: 30px;
}
.co-first-pragraph p{
    font-size: 20px;
    font-family: 'Uncut Sans';
    font-weight: 500;
    color: white;
    
}

.co-first-item{
    display: flex;
    align-items: center;
    flex-direction: column;
 
}
.main-form{
    display: flex;
     flex-direction: column;
     gap: 30px;
}
.main-form h3{
    font-size: 20px;
    font-family: 'Uncut Sans';
    font-weight: 300;
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-first-item{
    display: flex;
    gap: 20px;
}
.form-first-item input{
    width: 270px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
}
.form-first-item input::placeholder{
    font-size: 18px;
}
.form-second-item {
    display: flex;
    gap: 20px; 
  
}
.form-second-item input{
    width: 270px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
}   
.form-second-item input::placeholder{
    font-size: 18px;
}
.from-drop-down select{
    width: 560px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 16px;
    font-family: 'Uncut Sans';
    font-weight: normal;
}

    

.from-drop-down select option{
    font-size: 16px;
    font-family: 'Uncut Sans';
    font-weight: 500;
    
}
.text-from textarea{
    width: 560px;
    height: 100px;
    border: none;
    border-radius: 5px;
    padding: 2px 10px; 
}
.text-from textarea::placeholder{
    font-size: 16px;
    font-family: 'Uncut Sans';
    font-weight: 500;  
}
.form-btn button{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    cursor: pointer;
    font-weight: 800;
    color: white;
    background-color: #035B67;
}