.con-main{
    width: 100%;
}
.main-heading{
    margin-top: 90px;
    margin-bottom: -100px;
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: 800;
    letter-spacing: 3px;


}
.co-first {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 130px;
    gap: 50px;
    padding: 0 0px;
    box-sizing: border-box;
    width:95%;
    margin-left: auto; 
    margin-right: auto;
}

.co-main-first {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 30px;
    width: 50%;
    box-sizing: border-box;
}

.co-first-item h1 {
    font-size: 65px;
    letter-spacing: 3px;
    font-weight: 600;
    color: white;
    line-height: 50px;
    margin: 0;
    text-align: left;
    line-height: 65px;
}

.co-first-pragraph {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    text-align: left;
}

.co-first-pragraph p {
    font-size: 20px;
    width: 100%;
    font-family: 'Uncut Sans';
    font-weight: normal;
    letter-spacing: 0.4px;
    color: white;
    margin: 0;
}

.main-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.main-form h3 {
    font-size: 30px;
    font-family: 'Uncut Sans';
    font-weight: 300;
    color: white;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-first-item,
.form-second-item {
    display: flex;
    gap: 10px;
}

.form-first-item input,
.form-second-item input,
.from-drop-down select,
.text-from textarea {
    width: 100%;
    
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-family: "Uncut Sans";
    font-weight: 500;
}
.text-from textarea {
    height: 120px;
}

.form-btn button {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    height: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
    color: white;
    background-color: #035B67;
}

/* Responsive Styles */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .main-heading h1 {
        visibility: visible !important;
    }
}
@media (min-width: 320px) and (max-width: 768px){
    .co-first-item h1{
        font-size: 40px;
        /* margin: 15px 0; */
    }
    .co-first-pragraph{
        gap: 25px;
    }
}
@media (max-width: 768px) {
    .main-heading h1{
        visibility: visible !important;
        font-size: 60px;
    }
    h1{
        width: 100%;
    }
    .co-first {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        gap: 45px;
    }

    .co-main-first,
    .main-form {
        width: 100%;
        padding: 0;
    }

    .co-first-item h1,
    .co-first-pragraph p,
    .main-form h3 {
        text-align: center;
    }

    .form-first-item input,
    .form-second-item input,
    .from-drop-down select,
    .text-from textarea {
        max-width: 100%;
    }

    .form-btn button {
        max-width: 100%;
    }
}

.popup-message {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e1f754;
    color: #000;
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: 800;
    letter-spacing: normal;
    font-family: 'Uncut Sans';
    text-align: center;
    z-index: 1000;
    animation: fadeInOut 4s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

