.main-forth{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 50px;
    margin-top: 100px;
}
.forth{
    max-width: 1400px;
    height: 500px;
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 220px;
   padding: 50px 60px; 
   background-color: #54725D;
   z-index: -1;
   border-radius: 50px;
}
.left-four-sec-item{
    width:380px;
    padding: 10px 0;
}
.left-four-sec-item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
}
/* .left-four-sec-item video{
    width: 100%;
    border-radius: 10px;
    
} */
.right-four-sec-item{
 display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 5px;
}
.right-four-sec-item h1{
    font-size: 65px;
    line-height: 83%;
    text-transform: uppercase;
    margin-bottom: 20px;  
      font-weight: 900;
      transform: scale(1, 1);
    letter-spacing: 3px;
    width: 575px;
    color: white;
     
    
}

.right-four-sec-item p{
    font-size: 20px;
   width: 570px;
   margin-top: 20px;
   font-family: 'Uncut Sans';
    font-weight: normal;
    letter-spacing: 0.8px;
    color: white;
 
  
}

/* responsive */
@media  screen and (min-width:200px) and (max-width:767px){
    .main-forth{
        margin-top: 50px;
    }
    .forth{
        gap: 80px;
        flex-direction: column;
    }    
    .left-four-sec-item{
        width:300px;
        margin-top: 300px;
       
         
     
    }
    .left-four-sec-item video{
        width: 100%;
        border-radius: 30%;
    } 
    .right-four-sec-item{
        margin: auto;
        margin-left: 40px;
    }
    .right-four-sec-item h1{
        font-size: 40px;
        margin-left: 30px;
        width: 400px;
    }
    .right-four-sec-item p{
        font-size: 17px;
        width: 290px;
    }
}
@media  screen and (min-width:768px) and (max-width:991px) {
    .main-forth{
        margin-top: 50px;
    }
    .forth{
        gap: 80px;
        flex-direction: column;
    }    
    .left-four-sec-item{
        width:400px;
        margin-top: 200px;
     
    }
    .left-four-sec-item video{
        width: 100%;
        border-radius: 30%;
    } 
    .right-four-sec-item h1{
        font-size: 45px;
        width: 90%;
        margin-left: 20px;
    }
    .right-four-sec-item p{
        font-size: 17px;
        width: 70%;
    }
}

@media  screen and (min-width:992px) and (max-width:1024px) { 
    .forth{
        gap: 0px;
    }    
    .left-four-sec-item{
        width:400px;
     
    }
    .left-four-sec-item video{
        width: 100%;
        border-radius: 30%;
    } 
    .right-four-sec-item h1{
        font-size: 45px;
    }
    .right-four-sec-item p{
        font-size: 17px;
    }
}

@media  screen and (min-width:1025px) and (max-width:1200px) {  
}