 .nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a2822 ;
 }
 .navbar{
  max-width: 1400px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 20px 60px;
  gap: 210px;
  background-color:  #0a2822 ;
  position: fixed;
  top: 0;
  z-index: 1;
 }
 .nav-left-logo{
   width: 140px;
    
 }
 .nav-left-logo img{
   width: 100%;
   filter:invert(10);
 }


 .nav-center-item{
    position: relative;
    left: 140px;
 }
 .nav-center-item .dropdown{
    display: flex;
    align-items: center;
     gap: 30px;
    margin-left: 30px;
 }
 .nav-center-item .dropdown li a{
   color: #ffff;
    font-size: 17px;
    box-sizing: border-box;
    border-bottom: 1px solid#0a2822;
    font-family: 'Uncut Sans';
      font-weight: normal;
  
   
     
 }

 .nav-center-item ul li a:hover{
     border-bottom: 1px solid #ffff;
 }

 /* dropdown */
 
 
 li{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  

 
  
 .nav-right-item{
    display: flex;
    align-items: center;
    gap: 20px;
 }
   

 .figth-first-item a{
    margin-left: 10px;
    color: #ffff;
    font-size: 1.1rem;
    border-bottom: 1px solid #0a2822;
    font-family: 'Uncut Sans';
    font-weight: normal;
 }
 .figth-first-item a:hover{
  border-bottom: 1px solid #ffff ;
 }
  
 .btn button{
    background-color:#035B67;
    border-radius: 10px;
    color: white;
    width: 170px;
    height: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0px 2px;
    cursor: pointer;
    transform: scale(1, 1.8);
   font-weight: 900;

 }
 #hammenu{
    font-size: 22px;
    font-weight: 600;
    display: none;
 }

  
 /* mobile */
 .mobile-item{
    width: 200px;
    background-color: #ffff;
     display: flex;
     align-items: center;
     justify-content: center;
      transition: ease-in-out 5ms;
      transform-origin: top;
      position: absolute;
      right: 0;
      top: 90px;
      z-index: 1;
 }
 .nav-active{
   height: 300px;
 }

 .mobile-items li{
    height: 40px;
    
   
 }
 .mobile-items li a{
    color: black;
    font-size: 18px;
    font-family: 'Uncut Sans';
    font-weight: normal;
 }
 
 
 @media  screen and (min-width:200px) and (max-width:767px){
    .navbar{
        gap: 20px;
        padding: 0px 40px;
        width: 100%;
    }
    .nav-center-item .dropdown{
          display: none;
          gap: 70px;
    }

    .btn{
        display: none;
    }
    #hammenu{
        display: block;
        cursor: pointer;
    }

 }
 @media  screen and (min-width:768px) and (max-width:991px) {
    .navbar{
        gap: 0px;
        padding: 0px 40px;
        width: 100%;
    }
    .nav-center-item .dropdown{
          display: none;
          gap: 70px;
    }
    .btn{
        display: none;
    }
    #hammenu{
        display: block;
        cursor: pointer;
    }
 }

 @media  screen and (min-width:992px) and (max-width:1024px) {
    .navbar{
        gap: 75px;
    }  
 }

 @media  screen and (min-width:1025px) and (max-width:1250px) {
   .navbar{
       gap: 100px;
   }  
}