.login-popup{
    position: fixed;
    z-index: 50000;
    top: 0;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    /* background-color: #00000090; */
    display: grid;
    margin: 0 auto;
}
.login-popup-container{
place-self: center;
width: max(30vw,500px);
/* height: 90vh; */
overflow: scroll;
color: #212121;
background-color: white;
display: flex;
height: 90%;
flex-direction: column;
gap: 25px;

padding: 25px 50px;
border-radius: 8px;
font-size: 14px;
animation: fadeIn 0.5s;
font-family: 'Uncut Sans';
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-popup-title h2{
    font-size: 55px;
    font-weight: 800;
    font-family: "zuume";
}


.login-popup-container  h1{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    cursor: pointer;
    margin-top: -10%;
    margin-right: -30px;
}
.login-popup-content p{
    font-size: 18px;
    font-weight: 500;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login-popup-inputs label{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: -12px;
}
.login-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 12px;
    border-radius: 8px;
}
/* .custom-flag-select {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  */
 
  .menu-flags-button{
    height: 40px;
    margin-top: 3px;
  }
.menu-flags-button:hover{
    background-color: white;
}


  
.login-popup-btn button{
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    color: white;
    letter-spacing: 2px;
    background-color: #54725D;
    font-size: 25px;
    font-weight: 600;
    font-family:"zuume";
    cursor: pointer;
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.login-popup-condition p{
    margin-top: 12px;
 font-size: 17px;
 margin-bottom: 8px;
}

/* .ReactFlagsSelect-module_selectBtn__19wW7 {
	padding: 5px 5px !important;
    font-size: 13px !important;
}
.ReactFlagsSelect-module_fullWidthOptions__1XeR6 {
	font-size: 13px !important;
} */
 
@media  screen and (min-width:200px) and (max-width:770px){
    .login-popup-container{
        position: fixed;
        width: 70%;
        overflow:scroll;
        overflow-x: hidden;
        padding: 25px 10px;
        height: auto;
    }
    .login-popup-content p{
        font-size: 14px;
    }
    .login-popup-title h2{
        font-size: 45px;
        font-weight: 700;
    }
.login-popup-title h1{
    padding-left: 75%;
    position: absolute;
    left: 13%;
    top: 40px;

}
.login-popup-condition p{
    margin-top: 10px;
 font-size: 14px;
}
}

.popup-message {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e1f754;
    color: #000;
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: 800;
    letter-spacing: normal;
    font-family: 'Uncut Sans';
    text-align: center;
    z-index: 5010;
    animation: fadeInOut 4s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
